.navbar-visible {
  top: 0 !important;
}

/* iPad Pro */
@media (max-width: 835px) {
  html {
    font-size: 14px;
  }

  .navbar nav {
    position: absolute;
    left: 0;
    padding: 55px;
    width: 100%;
    background: black;
    top: -127px;
    transition: top 0.2s;
  }

  .hamburger {
    display: inline-block;
    justify-self: end;
    padding: 0 20px 0 0;
  }

  .hamburger-box {
    width: 32px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    width: 32px;
    background-color: white;
  }

  .main-nav {
    gap: 20px;
  }

  footer > div:first-of-type {
    gap: 160px;
  }
}

/* Other tablets */
@media (max-width: 769px) {
  .features__box {
    grid-template-columns: 1fr;
  }

  .steps > div {
    grid-template-columns: 1fr;
  }

  .steps > div > img {
    justify-self: center;
  }

  .step-descriptions {
    justify-content: center;
    justify-items: center;
  }

  .cities > div {
    grid-template-columns: 1fr;
  }

  .pricing > div {
    grid-template-columns: 1fr;
  }

  footer > div:first-of-type {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}

/* Phones */
@media (max-width: 480px) {
  .center {
    padding: 0px 10px;
  }

  html {
    font-size: 12px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .navbar {
    padding-top: 10px;
  }

  .navbar nav {
    font-size: 1rem;
    padding: 75px 5px 10px 5px;
  }

  .logo {
    height: 80px;
  }

  .hamburger {
    padding-right: 10px;
  }

  .features p {
    width: 100%;
  }

  .number {
    border: 1px solid var(--light-orange);
    width: 35px;
    height: 35px;
  }

  .customers__reviews {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 10px 0;
  }

  footer ul {
    gap: 15px;
  }
}
