* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  color: #303030;
}

:root {
  --light-orange: #e67e22;
  --dark-orange: #cf6d17;
  --light-gray: #fcfcfc;
  --dark-gray: #e8e8e8;
}

section {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Reusables ==================================================== */
.center {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* Headings ===================================================== */
h1 {
  font-size: 2.3rem;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  word-spacing: 0.4rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

h2::after {
  content: '';
  display: block;
  height: 1px;
  width: 80px;
  margin: 25px auto 0 auto;
  background-color: var(--light-orange);
}

h3 {
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* Buttons ====================================================== */
.btn {
  display: inline-block;
  color: var(--light-orange);
  border-radius: 30px;
  padding: 8px 15px;
  font-weight: 300;
  border: 1px solid var(--light-orange);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  text-decoration: none;
}

.btn--fill {
  background-color: var(--light-orange);
  color: white;
}

.btn:hover,
.btn:active {
  border: 1px solid var(--dark-orange);
  background-color: var(--dark-orange);
  color: white;
}

/* Paragraph ===================================================== */

p {
  font-size: 1.1rem;
  line-height: 150%;
}

/* Header ======================================================= */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.logo {
  height: 100px;
}

.main-nav {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
}

.main-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 1px solid var(--light-orange);
}

.hamburger {
  display: none;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

.text-box .btn {
  margin-top: 15px;
}

/* Features ========================================================= */

.features {
  display: grid;
  justify-items: center;
  gap: 40px;
}

.features > p {
  width: 65%;
}

.features__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.features__box .box {
  display: grid;
  gap: 10px;
}

.feature-icon {
  font-size: 1.7rem;
  color: var(--light-orange);
}

/* Food section */

.food ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.food ul li {
  overflow: hidden;
  background-color: black;
}

.food img {
  width: 100%;
  display: block;
  opacity: 0.5;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.food img:hover {
  opacity: 1;
  transform: scale(1);
}

/* Steps ===================================================== */
.steps {
  display: grid;
  gap: 40px;
}

.steps > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.iPhone-image {
  width: 50%;
  justify-self: end;
}

.step-descriptions {
  display: grid;
  align-content: center;
  gap: 30px;
}

.description-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.number {
  display: grid;
  border: 2px solid var(--light-orange);
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  width: 50px;
  height: 50px;
}

.app-store a {
  display: inline-block;
  width: 130px;
}

.app-store img {
  width: 100%;
}

/* Cities ======================================================= */

.cities {
  display: grid;
  gap: 40px;
}

.cities > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.cities img {
  width: 100%;
}

.city-box {
  display: grid;
  gap: 10px;
}

.city-description {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
}

.city-description ion-icon {
  color: var(--light-orange);
}

.city-description a {
  color: var(--light-orange);
}

.city-description a:hover,
.city-box a:active {
  color: var(--dark-orange);
}

.twitter-url {
  text-decoration: none;
}

/* Customers =================================================== */
.customers {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(img/back-customers.jpg);
  padding: 80px 0;
  display: grid;
  gap: 40px;
}

.customers__reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-weight: 300;
  font-style: italic;
}

.review {
  display: grid;
  gap: 20px;
}

.quote {
  font-size: 2.3rem;
}

.customer-photo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.customer-photo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* Prices ============================================================= */

.pricing {
  display: grid;
  gap: 40px;
}

.pricing > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.price-box {
  display: grid;
  gap: 20px;
  font-weight: 300;
}

.price-box__header {
  display: grid;
  gap: 10px;
  background-color: var(--light-gray);
  padding: 20px;
  border-bottom: 1px solid var(--dark-gray);
}

.price-box__header > div {
  color: var(--light-orange);
}

.price-box__header p,
.month {
  font-size: 1rem;
}

.month {
  padding-left: 15px;
}

.price {
  font-size: 3.5rem;
}

.price-box__body {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.price-box__end {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--dark-gray);
}

/* Contact ======================================================= */

.contact {
  display: grid;
  gap: 40px;
  justify-items: center;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.contact form .btn {
  grid-column: 2 / 3;
  justify-self: start;
  align-self: center;
  font-size: 1rem;
}

label:not([for='comment']) {
  align-self: center;
}

.contact form {
  font-size: 1.2rem;
  font-weight: 300;
}

input,
select,
textarea {
  padding: 10px;
  font-weight: 300;
}

input[type='checkbox'] {
  margin-right: 5px;
}

/* Footer ========================================================= */

footer {
  display: grid;
  gap: 20px;
  color: #888888;
  background: #333333;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 50px;
}

footer div:first-of-type {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 200px;
}

footer ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

footer a:active,
footer a:hover {
  color: white;
}

.social-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}
